@model MedicalTansik.Models.Student

@section styles {
    <style>
     .desires-wrapper {
	 overflow: auto;
	 height: 80vh;
     }
     .academic-desire {
	 background-color: lightpink;
     }

    </style>
    }
    
    <!-- Tabs navs -->
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
	<li class="nav-item" role="presentation">
            <a class="nav-link active"
               id="ex1-tab-1"
               data-mdb-toggle="tab"
               href="#ex1-tabs-1"
               role="tab"
               aria-controls="ex1-tabs-1"
               aria-selected="true">Tab 1</a>
	</li>
	<li class="nav-item" role="presentation">
            <a class="nav-link"
               id="ex1-tab-2"
               data-mdb-toggle="tab"
               href="#ex1-tabs-2"
               role="tab"
               aria-controls="ex1-tabs-2"
               aria-selected="false">Tab 2</a>
	</li>
	<li class="nav-item" role="presentation">
            <a class="nav-link"
               id="ex1-tab-3"
               data-mdb-toggle="tab"
               href="#ex1-tabs-3"
               role="tab"
               aria-controls="ex1-tabs-3"
               aria-selected="false">Tab 3</a>
	</li>
    </ul>
    <!-- Tabs navs -->




    <!-- Tabs content -->
    <div class="tab-content" id="ex1-content">
	<div class="tab-pane fade show active"
             id="ex1-tabs-1"
             role="tabpanel"
             aria-labelledby="ex1-tab-1">

	    <div class="row">
		<div id="desires-container"  class="col-sm-6 desires-wrapper">

		    @foreach(var desire in ViewBag.Desires)
		    {
		    <div  class='card desire @(desire.IsAcademic? "academic-desire" : "clinical-desire") my-4 '
			  style="cursor: move"
			  data-id="@(desire.Id)"
		    > 
			<div class="card-body">
			    <div>
				@desire.Name - @(desire.IsAcademic? "أكاديمي" : "إكلينيكي")
			    </div>
			</div>
		    </div>
		    }
		</div>

		<div class="col-sm-6 ">
		    <div class="py-4 px-4 desires-wrapper" id="student-desires-container">
			
		    </div>
		</div>
	    </div>

	</div>

	
	<div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            Tab 2 content
	</div>
	<div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            Tab 3 content
	</div>
    </div>


    <div> <button class="btn btn-primary save">حفظ</button></div>

    <!-- Tabs content -->

    @section Scripts {

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
	
	<script>
	window.printed = false; //a flag to check if the student printed his desires or not;
	var element = $("#desires-container")[0];
	new Sortable(element, {
            group: 'shared',
            animation: 150
	    
	});
	var element2 = $("#student-desires-container")[0];
	
	new Sortable(element2, {
            group: 'shared',
            animation   : 150
	});
	</script>

	<script>
	$(".save").on("click", function() {
	    var desiresElement = $("#student-desires-container").find(".desire");
	    var desires = [];
	    for(var i=0; i<desiresElement.length; i++) {
		desires.push($(desiresElement[i]).data("id"));
	    }
	    $.ajax("/Home/SaveDesires/", {
		method: "POST",
		data: {
		    action: "ADD_DESIRES",
		    data: desires,
		},
		success: function(data) {
		    if(data.status == "success")  {
			alert("تم حفظ الرغبات بنجاح");
		    } else if (data.status == "error"){
			alert("something wrong happened");
		    }
		}
	    });
	});
	
	
	</script>

	
    }
