@{  
    ViewBag.Title = "معلومات عامة";
}
<style>
    .section1 {
        padding: 21px 10px 2px 10px;
    }
    </style>
@Html.Partial("_Navbar_Home")
<div class="section1">
    <h2>إرشادات عامة:</h2>
    <ul>
        <li>عزيزي الطالب / عزيزتي الطالبة لاختيار رغبتك للقسم المطلوب برجاء سحب خانة القسم الذي اخترته من حقل (الرغبات المتاحة) إلي حقل (الرغبات المُختارة) </li>
        <li>عزيزي الطالب / عزيزتي الطالبة يرجي العلم أنه عند سحب (اختيار) الرغبة يجب عليك التأكد من أهليتك للقسم المختار حيث لن يتم حفظ رغباتك إذا وجد رغبة لست مؤهلًا لها، فبرجاء الاطلاع علي شروط كل قسم من خلال هذه الصفحة  </li>
        <li>يجب الانتباه انه عند سحب ( اختيار ) الرغبات والتأكد منها يجب عليك الضغط علي زر حفظ حتي يتم حفظ رغباتك </li>
        <li>يمكنك تسجيل رغبة واحدة أو حتي 25 رغبة، لك حرية الاختيار في تسجيل رغباتك </li>
        <li>يمكنك التراجع عن (اختيار الرغبة) بسحبها الي الطرف الأول -الرغبات المتاحة- كما كانت</li>
        <li>يمكنك ترتيب أولوية رغباتك قبل حفظها من خلال سحب الرغبة لأعلي في حقل الرغبات المُختارة ووضعها فوق الرغبات المُختارة الأخري بالترتيب المطلوب</li>
        <li>يمكنك الاطلاع علي قبول الطلاب في الاقسام في هذه تلك اللحظه من خلال صفحة التنسيق اللحظي ولا يعد وجودهم في القسم قبول نهائي حتي يقوم جميع الطلاب الذين لهم حق التنسيق بالتنسيق علي المنصة </li>
        <li>يمكنك طباعة رغباتك من خلال صفحة طباعة رغبات الطالب  من زر طباعة اسفل الصفحة </li>
        <li>يمكنك الوصول الي صفحة طباعة رغبات الطالب من زر (تسجيل / طباعة رغباتي) الموجود في اعلي الصفحة</li>
    </ul>
    <br />
    <hr />
    <h2>شروط الاقسام:</h2>
    <ul>
        <li>الاقسام الاكاديمية تقبل من جيد جدا علي الاقل في مادة/ مواد التخصص</li>
        <li>الاقسام الاكلينيكية تقبل من جيد علي الاقل في مادة / مواد التخصص</li>

    </ul>
</div>
